<!-- templates/home.html file-->
<html>

<head>
    <meta charset="utf-8" />
    <title>Flask Google Login Example Web Application</title>
</head>

<body>
    
    
    {% if userinfo %}
<h1>Welcome {{ userinfo.preferred_username }}!</h1>
 <p><a href="{{ url_for('logout') }}">Logout</a></p>
<p>Email: {{ userinfo.userinfo.email }}</p>
<p>First Name: {{ userinfo.userinfo.given_name }}</p>
<p>Last Name: {{ userinfo.userinfo.family_name }}</p>
<h2>One-Time-Use Token Generator</h2>
    <button id="generateTokenButton">Generate Token</button>

    <p id="tokenResult"></p>

    <!-- Save button and JSON display div -->
    <button id="saveButton">Save</button>
    <div id="jsonDisplay"></div>


<!-- <p>DDD: {{ userinfo.expires_in }}</p> -->
    
   
    <!-- <div><pre>{{ pretty }}</pre></div> -->

    

    {% else %}
    <p><a href="{{ url_for('googleLogin') }}">Login with Google</a></p>
    {% endif %}

   
        <script>
// Create an empty object to store user data
let userData = {};

// Get references to the buttons
const generateTokenButton = document.getElementById("generateTokenButton");
const saveButton = document.getElementById("saveButton");

// Disable the "Save" button initially
saveButton.disabled = true;

generateTokenButton.addEventListener("click", async function () {
    try {
        const response = await fetch('http://127.0.0.1:5000/generate_token');
        const data = await response.json();
        document.getElementById("tokenResult").textContent = "Token: " + data.token;

        // Save the token in the userData object
        userData.token = data.token;

        // Disable the "Generate Token" button and enable the "Save" button
        generateTokenButton.disabled = true;
        saveButton.disabled = false;
    } catch (error) {
        console.error('Error fetching token:', error);
    }
});

saveButton.addEventListener("click", function () {
    // Access the userinfo object from the HTML template
    const userinfo = JSON.parse('{{ userinfo | tojson | safe }}');

    // Create a JavaScript object with the user data, including the token
    userData.email = userinfo.userinfo.email;
    userData.firstname = userinfo.userinfo.given_name;
    userData.lastname = userinfo.userinfo.family_name;

    // Convert the JavaScript object to JSON format
    const jsonData = JSON.stringify(userData, null, 4);

    // Display the JSON data in the HTML
    document.getElementById("jsonDisplay").textContent = jsonData;
});

        </script>   


</body>

</html>